#currentdt {
    width: 2em;
    margin-right: 0;
    padding-right: 0;
}
#breadcrumbs {
    margin-right: 0;
    padding-right: 0;
}
body{
    width: 100%;
}
header {
    position: absolute;
    right: 0px;
    width: 100%;
}
div#content-actions {
    padding: 0 5px 0 5px;
}
div#progressbar {
    margin-top: 10px;
    margin-bottom: 0;
    height: 18px;
    width: 100px;
    margin-left: 18px;
    margin-right: 18px;
}
div#timeslider {
    height: 0.8em;
    margin-top: 14px;
    width: 100px;
    margin-left: 12px;
    margin-right: 9px;
}

button#animate {
    margin-top: -4px;
}

/* fix jquery ui slider */
.ui-slider:after {
    height: 1.4em;
    margin-top: -4px;
    width: 50%;
    content: "";
    float: right;
    border-left: 2px solid rgba(0, 52, 89, 0.7);
}
.ui-slider .ui-slider-handle {
    background-color: #49AFCD;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    z-index: auto;
}
.neerslagradar_poweredby {
    margin: 5px 0 0 10px;
    color: rgba(0, 52, 89, 0.7);
    overflow-y: hidden;
}
div#footer {
    overflow-y: hidden;
}
.olControlOverviewMapElement {
    padding: 2px 18px 2px 2px;
}

.olControlMousePosition {
    left: 3px;
    right: auto;
}

.olTileImage {
    image-rendering:optimizeSpeed;              /* Legal fallback                 */
    image-rendering:-moz-crisp-edges;           /* Firefox                        */
    image-rendering:-o-crisp-edges;             /* Opera                          */
    image-rendering:-webkit-optimize-contrast;  /* Chrome (and eventually Safari) */
    image-rendering:crisp-edges;                /* CSS3 Proposed                  */
    -ms-interpolation-mode:bicubic;             /* IE8+                           */
}
.ui-widget-header {
  background-color: #157681;
  background-image: linear-gradient(to bottom, #188693, #115e67);
  background-repeat: repeat-x;
}
.ui-icon-closethick {
    background-image: url(../jqueryui/smoothness/images/ui-icons_f2f4f4_256x240.png) !important;
}
.ui-state-hover {
  background-image: linear-gradient(to bottom, #27d7e0, #1daab7) !important;
}